body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --post-color: white;
  --post-background-color: #1e1e1e;
}

html {
  height: 100%;
  background-color: var(--post-background-color);
  color: var(--post-color);
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
